.Logo {
  background: url('./../../assets/logo.svg') no-repeat;
  background-size: contain;
  background-position: center;
  width: 354px;
  height: 64px;

  @media (max-width: 900px) {
    width: 260px;
    height: 40px;
    margin-top: 20px;
  }
}
